<section>
    <div class="container">
      <div class="row mt-3">
        
      </div>
        <table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Category</th>
      <th scope="col">ID</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th>Status</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    {{#each workers}}
    <tr>
      <td>{{this.workerName}}</td>
      <td>{{this.workerAddress}}</td>
      <td>{{this.category}}</td>
      <td>{{this._id}}</td>
      <td>{{this.workerEmail}}</td>
      <td>{{this.workerPhone}}</td>
      <td>{{this.activeStatus}}</td>
      <td><img src="/workerImages/{{this._id}}.jpg" height="50" width="50" alt=""></td>
      <td><a href="/admin/delete-worker-details/{{this._id}}" class="btn btn-danger" onclick="return confirm('Do you want to delete the Profile of {{this.workerName}}?')">DELETE</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</section>