<section class="vh-200" style="background-color: #ffffff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="/workerImages/{{dispDetails._id}}.jpg"
                alt="Avatar" class="img-fluid my-5" style="width: 300px;" />
              <h2>{{dispDetails.workerName}}</h2>
              <p style="font-size: 18px;">{{dispDetails.category}}</p>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Current Status</h6>
                    {{#if dispDetails.currentStatus}}
                    <p class="text-muted">Free</p>
                    {{else}}
                    <p class="text-muted">Busy</p>
                    {{/if}}
                  </div>
                  <div class="col-6 mb-3">
                    {{#if dispDetails.currentStatus}}
                    <h6>Available</h6>
                    {{else}}
                    <h5>This Worker is on another work or not available right now</h5>
                    {{/if}}
                    <p class="text-muted"></p>
                  </div>
                </div>
                <h6>Place</h6>
                <p class="text-muted">{{dispDetails.workerPlace}}</p>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Address</h6>
                    <p class="text-muted">{{dispDetails.workerAddress}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Pincode</h6>
                    <p class="text-muted">{{dispDetails.workerPincode}}</p>
                  </div>
                </div>
                <a href="/contact/{{dispDetails._id}}">
                {{#if dispDetails.currentStatus}}
                <button class="btn-btn-success">Contact</button>
                {{/if}}
                </a>
                <div class="d-flex justify-content-start">
                  <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>

<section>
  
  <h4>Customer Reviews</h4>
  {{#each reviews}}
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3>{{this.userName}}</h4>
    <p class="card-text">{{this.review}}</p>
  </div>
</div>
{{/each}}
</section>


<style>
    .gradient-custom {
/* fallback for old browsers */
background: #f6d365;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}
h5{
  color: red;
  font-size: 15px;
}
h4{
  padding-left: 10px;
}
.card{
  padding-left: 10px;
}
</style>